li {
  display: inline;
  font-size: 12px;

  &::after {
    content: '|';
    padding: 5px;
  }

  &:last-child::after {
    content : '';
  }

}

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:1;
}
