:host {
    word-break: break-all;
    margin-left: 10px;
    display: block;
}

:host /deep/ pre {
    white-space: pre-wrap;
    line-height: 1.5;
}

.text {
    margin-bottom: 25px;
    border-radius: 10px;
}

.meta {
    margin-bottom: 5px;
    .name,
    .expander {
        color: #c2185b;
    }
    .time-ago {
        color: grey;
    }
    .expander {
        &::after {
            content: '[+]';
        }
        &.open::after {
            content: '[-]';
        }
    }
}
